.left-panel{
    &--collapse{
        transition: all .8s;
        @include media-breakpoint-down(sm) {
            width: 7rem !important;
        }
        @include media-breakpoint-down(md) {
            width: 7.5rem !important;
        }
        @include media-breakpoint-down(lg) {
            width: 8rem !important;
        }
        @include media-breakpoint-down(xl) {
            width: 8.5rem !important;
        }   
    }
}
.left-panel__nav-text{
    &--collapse{
        transition: all .8s;
        display: none;
    }
}

.left-panel__nav-link__icon{
    &--collapse{
        transition: all .8s;
        float:left;
        transform: scale(2.0);
        font-weight: 50;
        margin: 0 1.2rem;
        //text-shadow: .3rem .3rem .3rem $black-grey;
    }
}