$left-panel-bg-color:whitesmoke;
$left-panel-font-color:#0ec457;;
$primary-color:#0ead4e;
$primary-color-light:#3AFF6F;
$breadCrumb-font-color:#0F0F0F;
$black-grey:#24292e;
$default-font-weight:400;
$font-stack: 'Open Sans';


