.message{
    border:1px solid $primary-color-light;
    height:5rem;
    line-height: 5rem;
    padding: 0 1rem;
    border-radius: .5rem;
    background-color: rgba(162, 212, 162, 0.5);
    color:$left-panel-font-color;
    
}